target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
lab18/src/main/java/org/example/Main.java
spiski/src/main/java/org/example/Main.java
Regexpp/src/
lab16/src/
lab17/src/main/java/org/example/Main.java
lab18/src/main/java/org/example/CalculatorIntegralCen.java
Matrix/src/main/java/org/example/Matrix.java
.idea/
ControlWork/src/
